@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Croissant+One&family=Dancing+Script:wght@500;600&family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab&display=swap');

:root{
    --Dark-grayish-blue: hsl(210, 10%, 33%); 
    --Soft-red: hsl(5, 85%, 63%);
    --Soft-orange: hsl(35, 77%, 62%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Very-dark-blue: hsl(240, 100%, 5%);
  }
  
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
  }
  
body{
    font-family: "Inter", sans-serif;
}
.continer{
    width: 1300px;
    margin: auto;
}